<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>
        <%- include('layouts/nav'); -%>
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>Appointments</h1>
                                <span class="subheading">Create an available appointment for the driving test</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div id="msg"></div>
                <h1>Appointment Management</h1>
                <form id="appointmentForm">
                    <div class="form-group">
                        <label for="date">Select Date:</label>
                        <input type="date" class="form-control" id="date" name="date" required>
                    </div>
                    <div class="form-group">
                        <label>Select Time Slots:</label>
                        <div id="timeSlotsContainer">
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">9:00 AM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">9:30 AM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">10:00 AM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">10:30 AM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">11:00 AM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">11:30 AM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">12:00 PM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">12:30 PM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">01:00 PM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">01:30 PM</button>
                            <button type="button" class="btn btn-outline-primary mx-1 my-1 time-slot">02:00 PM</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Appointments</button>
                </form>
            </div>
            <%- include('layouts/footer') %>
                <%- include('layouts/scripts') %>
                    <script src="js/appointment.js"></script>
    </body>

</html>