<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('layouts/header'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/nav'); -%>

            <!-- Page Header-->
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Dashboard</h1>
                                <span class="subheading">DriveTest Booking Kiosk</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="#">
                                <h2 class="post-title">You can book G2/G drive test from this kiosk</h2>
                                <h3 class="post-subtitle">You can book G2/G drive test from this kiosk</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">DriveTest Center</a>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <!-- Post preview-->
                        <div class="post-preview">
                            <a href="#">
                                <h2 class="post-title">You can book G2/G drive test from this kiosk</h2>
                                <h3 class="post-subtitle">You can book G2/G drive test from this kiosk</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">DriveTest Center</a>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />

                        <!-- Pager-->
                        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase"
                                href="#!">Continue Booking →</a></div>
                    </div>
                </div>
            </div>

            <!-- Footer-->
            <%- include('layouts/footer'); -%>

                <!-- Scripts -->
                <%- include('layouts/scripts'); -%>

    </body>

</html>